<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- <listener>
		<listener-class> listener.MyServletContextListener</listener-class>
	</listener> -->
	<!-- <listener>
		<listener-class> listener.MyHttpSessionListener</listener-class>
	</listener> -->
	<!-- <listener>
		<listener-class> listener.MySerlvetRequestListener</listener-class>
	</listener> -->
<!-- 	<listener>
		<listener-class> listener.MySerlvetRequestListener2</listener-class>
	</listener> -->
	<listener>
		<listener-class> timer.MySessionListener</listener-class>
	</listener>
	
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
